@font-face {
    font-family: 'LXGW';
    src: url('/fonts/LXGWWenKai-Regular.ttf') format('truetype');
}
.card-announcement .iconfont {
    font-size: 20px;
}

#nav {
    font-family: "LXGW", sans-serif;
    font-size: 25px;
}